body {
    background-color: #FFF5EB;
    padding: 0 10% 10% 10%;
}
h1 {
    text-indent: 1em;
    background-color:#EBDABF; 
    padding: 5px 10px; 
    color: #000000; 
    font-size: 18px;
    border-radius: 9px;
}
h2 {
    text-indent: 1em;
    background-color:#EBDABF; 
    padding: 5px 10px;
    color: #000000; 
    font-size: 16px;
    border-radius: 9px;
}
#svgline2{
    z-index: 1;
    pointer-events: none;
}
.main-menu { 
    color:#000000; 
    background-color:#EBDABF; 
    padding:5px 15px; 
    margin:0px; 
    cursor:pointer; 
    display:inline-block; 
} /* 主選單的樣式 */
.main-menu:hover { 
    background-color:#EBDABF; 
}
.sub-menu { 
    color:#e7dc8f;
    background-color:#CCCCCC; 
    margin:5px -5px; 
    padding:0px; 
    list-style-type:none; 
    position:absolute; 
    z-index: 2;
} /* 下拉清單的樣式 */
.sub-menu li {
    padding: 3px 5px;
    text-align:left; 
} /* 下拉清單每一列的樣式 */
.sub-menu li:hover { 
    color:#000000; 
    background-color:#e7dc8f; 
}
.sub-menu a { 
    text-align:left; 
    display:block; 
    text-decoration:none; 
    color:#000000; 
}
.sub-menu a:hover { 
    color:#000000; 
    background-color:#e7dc8f; 
    text-decoration:none; 
}
div#generator{
    position: absolute;
    left: 30px;
    top: 150px;
    height: 200px;
    width: 500px;
    border: 5px solid black;
    background-image:url('../../images/waveform_generator.jpg');
    background-size: 500px ;
    background-repeat: no-repeat;
}
div#oscilloscope{
    position: absolute;
    left: 900px;
    top: 150px;
    height: 270px;
    width: 600px;
    border: 5px solid black;
    background-image:url('../../images/oscilloscope.jpg');
    background-size: 600px ;
    background-repeat: no-repeat;
}
.powersupply-text{
    float: left;
    position: absolute;
    color: white;
    top: 50px;
}
.powersupply-button{
    float: left;
    position:absolute;
    color: #000000;
    height: 20px;
    top: 170px;
    font-size: 10px;
    text-indent: -4px;
    width: 20px;
    border-radius: 10px;
    cursor: pointer;
}
.multimeter-button-1{
    position:absolute;
    float: left;
    color: #000000;
    height: 20px;
    top: 80px;
    text-indent: 0px;
    font-size: 10px;
    width: 40px;
    border-radius: 15px;
    cursor: pointer;
}
.multimeter-button-2{
    position:absolute;
    float: left;
    color: #000000;
    height: 20px;
    top: 100px;
    text-indent: 0px;
    font-size: 10px;
    width: 40px;
    border-radius: 15px;
    cursor: pointer;
}
.multimeter-title{
    float: left;
    position: absolute;
    color: black;
    top: 10px;
    left: 80px;
    font-size: 30px;
}
.buttonInactive
{
    background-color: white;
}
#addInductance{
    background-color: #CCCCCC;
}
#addCapacitance{
    background-color: #CCCCCC;
}
#form1{
    position: relative;
    left: 800px;
    /* top: 100px; */
}
#error_message{
    background-color : PaleGreen;
    position: absolute;
    width : 350px;
    height : 130px;
    left : 550px;
    z-index: 1;
}
#submitbuttom{
    width: 30px;
    border-radius: 5px;
    background-color: #e7dc8f;
}